[Unit]
Description=Aquila Dashboard
After=network.target

[Service]
WorkingDirectory=/root/aquila-dashboard/dashboard
ExecStart=/usr/bin/python3 app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
