body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
}

.on { color: #22c55e; }
.off { color: #ef4444; }

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #334155;
    padding: 10px;
    text-align: center;
}
